RewriteEngine On

# Arahkan semua request ke folder public untuk menjalankan aplikasi
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^$ public/ [L]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L,QSA]
